<!DOCTYPE html>
<html lang="en">
<head>
    <title>hola</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />


</head>

<body>
    <h1>bienvenidos</h1>
    <button id="btnNext">go other</button>
    <p id="parrafoPruebas"></p>

    <script src="/js/indexScript.js"></script>
</body>
</html>